@charset "UTF-8";
body {
  font-family: Open Sans,Arial,Helvetica,sans-serif;
  color: #333;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2857142857142858em;
  padding: 1.2857142857142858em;
  margin: 0 auto; }

h1 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 3.4285714285714284em;
  line-height: 1.1250000000000002em;
  margin-top: 0.37500000000000006em;
  margin-bottom: 0em; }

h2 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 2.2857142857142856em;
  line-height: 1.1250000000000002em;
  margin-top: 0.5625000000000001em;
  margin-bottom: 0.5625000000000001em; }

h3 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1.5em;
  line-height: 1.7142857142857144em;
  margin-top: 0.8571428571428572em;
  margin-bottom: 0em; }

h4 {
  font-family: inherit;
  font-weight: 600;
  font-style: inherit;
  font-size: 1em;
  line-height: 1.2857142857142858em;
  margin-top: 1.2857142857142858em;
  margin-bottom: 0em; }

h5 {
  font-family: inherit;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  line-height: 1.2857142857142858em;
  margin-top: 1.2857142857142858em;
  margin-bottom: 0em; }

p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.2857142857142858em; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

hr {
  border: 1px solid;
  margin: -1px 0; }

b, strong, em, small, code {
  line-height: 1; }

sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  color: #268ED9; }

/* === variables === */
/* === mixins === */
/* === common style === */
body {
  color: #464b4f; }

::-webkit-input-placeholder {
  color: #91989d; }

::-moz-placeholder {
  color: #91989d; }

:-moz-placeholder {
  color: #91989d; }

:-ms-input-placeholder {
  color: #91989d; }

/* === forms elements === */
textarea,
input,
select {
  border: #dee2e4 solid 1px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s; }
  textarea:focus,
  input:focus,
  select:focus {
    box-shadow: 0 0 8px rgba(114, 184, 70, 0.6);
    border: 1px solid #70b93f; }
    textarea:focus::-webkit-input-placeholder,
    input:focus::-webkit-input-placeholder,
    select:focus::-webkit-input-placeholder {
      opacity: 0; }
    textarea:focus::-moz-placeholder,
    input:focus::-moz-placeholder,
    select:focus::-moz-placeholder {
      opacity: 0; }
    textarea:focus:-moz-placeholder,
    input:focus:-moz-placeholder,
    select:focus:-moz-placeholder {
      opacity: 0; }
    textarea:focus:-ms-input-placeholder,
    input:focus:-ms-input-placeholder,
    select:focus:-ms-input-placeholder {
      opacity: 0; }
  textarea[disabled],
  input[disabled],
  select[disabled] {
    background-color: #eceeef;
    cursor: not-allowed;
    color: #c7cacd !important; }
  textarea[disabled]:hover,
  input[disabled]:hover,
  select[disabled]:hover {
    cursor: not-allowed; }

/* --- scroll-nav --- */
.scroll-nav {
  position: relative;
  z-index: 1;
  width: 150px;
  float: left;
  margin: 30px 0; }
  .scroll-nav__list {
    list-style: none;
    padding: 0; }
  .scroll-nav.fixed {
    position: fixed; }

/* --- /scroll-nav --- */
body {
  padding: 0; }

.main {
  position: relative;
  padding: 0 20px 0 185px; }
  @media (max-width: 768px) {
    .main {
      padding: 0; } }
  .main:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 160px;
    width: 1px;
    background: #eee; }
    @media (max-width: 768px) {
      .main:before {
        width: 0; } }

.b-example {
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 3.357142857142858em; }
  .b-example header {
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid #eee; }
  .b-example footer code[class*="language-"],
  .b-example footer pre[class*="language-"] {
    margin: 0;
    border-radius: 0px; }
  .b-example__prev-shelf {
    width: 100%; }
    .b-example__prev-shelf td {
      text-align: center;
      padding: 5px; }

.logical-block {
  position: relative;
  margin-bottom: 60px; }
  .logical-block__header {
    margin-bottom: 15px;
    border-bottom: 1px solid transparent; }
    .logical-block__header h2 {
      margin: 10px 0; }
    .logical-block__header:after {
      content: "";
      display: block;
      height: 1px;
      background-color: #eee;
      position: absolute;
      left: -24px;
      right: 0; }

.table {
  width: 100%;
  margin-bottom: 2.57142857142858em; }
  .table tr td,
  .table tr th {
    padding: 12px;
    border: 1px solid #dee2e4; }
  .table thead th {
    font-weight: bold;
    vertical-align: bottom;
    text-align: left; }
  .table tbody td {
    vertical-align: top; }
  .table tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05); }
  .table--first-col-title tbody tr td:nth-child(1) {
    font-weight: bold; }

.footnote {
  color: #c2c5c7;
  font-style: italic;
  font-weight: normal !important; }

.b-form-section {
  position: relative;
  margin-bottom: 15px; }
  .b-form-section textarea,
  .b-form-section input,
  .b-form-section select {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
    color: #464b4f;
    resize: none !important;
    border: #dee2e4 solid 1px;
    padding: 8px 12px;
    outline: none;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s; }
    .b-form-section textarea:focus,
    .b-form-section input:focus,
    .b-form-section select:focus {
      box-shadow: 0 0 8px rgba(114, 184, 70, 0.6);
      border: 1px solid #70b93f; }
      .b-form-section textarea:focus::-webkit-input-placeholder,
      .b-form-section input:focus::-webkit-input-placeholder,
      .b-form-section select:focus::-webkit-input-placeholder {
        opacity: 0; }
      .b-form-section textarea:focus::-moz-placeholder,
      .b-form-section input:focus::-moz-placeholder,
      .b-form-section select:focus::-moz-placeholder {
        opacity: 0; }
      .b-form-section textarea:focus:-moz-placeholder,
      .b-form-section input:focus:-moz-placeholder,
      .b-form-section select:focus:-moz-placeholder {
        opacity: 0; }
      .b-form-section textarea:focus:-ms-input-placeholder,
      .b-form-section input:focus:-ms-input-placeholder,
      .b-form-section select:focus:-ms-input-placeholder {
        opacity: 0; }
      .b-form-section textarea:focus[readonly="readonly"],
      .b-form-section input:focus[readonly="readonly"],
      .b-form-section select:focus[readonly="readonly"] {
        box-shadow: none;
        border: #dee2e4 solid 1px; }
    .b-form-section textarea[disabled], .b-form-section textarea[readonly="readonly"],
    .b-form-section input[disabled],
    .b-form-section input[readonly="readonly"],
    .b-form-section select[disabled],
    .b-form-section select[readonly="readonly"] {
      background-color: #eceeef;
      cursor: not-allowed;
      color: #c7cacd !important; }
    .b-form-section textarea[disabled]:hover,
    .b-form-section input[disabled]:hover,
    .b-form-section select[disabled]:hover {
      cursor: not-allowed; }
  .b-form-section--success .b-form-section__elem-wrapp {
    padding-right: 25px; }
    .b-form-section--success .b-form-section__elem-wrapp:after {
      content: "";
      display: inline-block;
      width: 19px;
      height: 19px;
      background: url(../img/valid.png) center no-repeat; }
  .b-form-section--error input,
  .b-form-section--error textarea,
  .b-form-section--error select {
    border: #e7422d solid 1px;
    background-color: rgba(242, 222, 222, 0.2); }
    .b-form-section--error input:focus, .b-form-section--error input:active,
    .b-form-section--error textarea:focus,
    .b-form-section--error textarea:active,
    .b-form-section--error select:focus,
    .b-form-section--error select:active {
      border: #e7422d solid 1px;
      box-shadow: 0 0 8px rgba(231, 66, 45, 0.6); }
  .b-form-section--error .b-form-section__elem-wrapp {
    padding-right: 25px; }
    .b-form-section--error .b-form-section__elem-wrapp:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../img/not_valid.png) center no-repeat; }
  .b-form-section--error .b-form-section__message--error {
    display: block; }
  .b-form-section--required .b-form-section__title:after {
    content: '*';
    padding-left: 1px;
    color: #E7422D; }

.b-form-section__checkbox:not(:checked), .b-form-section__checkbox:checked {
  position: absolute;
  left: -9999px; }

.b-form-section__checkbox:not(:checked) + label,
.b-form-section__checkbox:checked + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 300;
  color: #464b4f; }

.b-form-section__checkbox:not(:checked) + label:before,
.b-form-section__checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 18px;
  height: 18px;
  border: 1px solid #dee2e4;
  background: #f8f8f8;
  border-radius: 3px; }

.b-form-section__checkbox:not(:checked) + label:after,
.b-form-section__checkbox:checked + label:after {
  content: '✔';
  position: absolute;
  top: 5px;
  left: 2px;
  font-size: 17px;
  line-height: 0.8;
  color: #70b93f;
  transition: all .2s; }

.b-form-section__checkbox:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

.b-form-section__checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.b-form-section__checkbox:disabled:not(:checked) + label:before,
.b-form-section__checkbox:disabled:checked + label:before,
.b-form-section__checkbox[readonly="readonly"] + label:before {
  box-shadow: none;
  border-color: #c7cacd;
  background-color: #eceeef; }

.b-form-section__checkbox:disabled:checked + label:after,
.b-form-section__checkbox[readonly="readonly"] + label:after {
  color: #c7cacd; }

.b-form-section__checkbox:disabled + label,
.b-form-section__checkbox[readonly="readonly"] + label {
  color: #c7cacd; }

.b-form-section__checkbox:checked:focus + label:before,
.b-form-section__checkbox:not(:checked):focus + label:before {
  border: 1px solid #a6b1b6; }

.b-form-section__checkbox label:hover:before {
  border: 1px solid #959595 !important; }

.b-form-section__elem-wrapp {
  position: relative;
  animation-delay: 5s;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s; }
  .b-form-section__elem-wrapp:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    right: 0px;
    z-index: 1;
    width: 19px;
    height: 19px;
    font-size: 9px;
    line-height: 19px;
    text-align: center;
    color: white;
    background: white;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s; }

.b-form-section__radio {
  position: absolute;
  top: -9999px; }
  .b-form-section__radio {
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: top;
    width: 17px !important;
    height: 17px !important; }
  .b-form-section__radio + label {
    position: relative;
    cursor: pointer; }
  .b-form-section__radio:not(checked) {
    position: absolute;
    opacity: 0; }
  .b-form-section__radio:not(checked) + label {
    padding: 0 0 0 25px; }
  .b-form-section__radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dee2e4;
    border-radius: 50%;
    background: #f8f8f8; }
  .b-form-section__radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #9FD468;
    opacity: 0;
    transition: all .2s; }
  .b-form-section__radio:checked + label:after {
    opacity: 1;
    transform: scale(1); }
  .b-form-section__radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #70b93f;
    opacity: 0;
    transform: scale(0);
    transition: all .2s; }
  .b-form-section__radio:checked + label:after {
    opacity: 1; }
  .b-form-section__radio:checked:focus + label:before,
  .b-form-section__radio:not(:checked):focus + label:before {
    border: 1px solid #a6b1b6; }
  .b-form-section__radio:disabled, .b-form-section__radio[readonly="readonly"]:disabled {
    cursor: pointer !important; }
  .b-form-section__radio:disabled + label,
  .b-form-section__radio[readonly="readonly"] + label {
    color: #c7cacd; }
  .b-form-section__radio:disabled + label:before,
  .b-form-section__radio[readonly="readonly"] + label:before {
    border-color: #c7cacd;
    background-color: #eceeef; }

.b-form-section__row {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 5px; }
  .b-form-section__row:after, .b-form-section__row:before {
    content: '';
    display: table;
    width: 100%;
    clear: both;
    float: none; }

.b-form-section__title {
  display: inline-block;
  margin-bottom: 5px;
  line-height: 19px;
  font-weight: bold;
  color: #464b4f; }
  .b-form-section--success .b-form-section__title--valid-block {
    display: inline-block; }
    .b-form-section--success .b-form-section__title--valid-block:after {
      content: "";
      display: inline-block;
      width: 19px;
      height: 19px;
      background: url(../img/valid.png) center no-repeat;
      vertical-align: middle;
      margin-left: 5px;
      -webkit-transition: all ease-out 0.2s;
      -moz-transition: all ease-out 0.2s;
      -o-transition: all ease-out 0.2s;
      transition: all ease-out 0.2s; }
  .b-form-section--error .b-form-section__title--valid-block {
    display: inline-block; }
    .b-form-section--error .b-form-section__title--valid-block:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url(../img/not_valid.png) center no-repeat;
      vertical-align: middle;
      margin-left: 5px;
      -webkit-transition: all ease-out 0.2s;
      -moz-transition: all ease-out 0.2s;
      -o-transition: all ease-out 0.2s;
      transition: all ease-out 0.2s; }

.b-form-section__error-descr {
  color: #e7422d;
  padding-top: 3px;
  padding-bottom: 3px; }
  .b-form-section__error-descr ul {
    list-style: none; }

.b-input-group {
  display: inline-block; }

.b-input-group__input {
  display: block;
  width: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border: #dee2e4 solid 1px;
  padding: 8px 12px;
  outline: none;
  background-color: white;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s; }
  .b-input-group__input:focus {
    box-shadow: 0 0 8px rgba(114, 184, 70, 0.6);
    border: 1px solid #70b93f; }
    .b-input-group__input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .b-input-group__input:focus::-moz-placeholder {
      opacity: 0; }
    .b-input-group__input:focus:-moz-placeholder {
      opacity: 0; }
    .b-input-group__input:focus:-ms-input-placeholder {
      opacity: 0; }
  .b-input-group__input[disabled] {
    background-color: #eceeef;
    cursor: not-allowed;
    color: #c7cacd !important; }
  .b-input-group__input[disabled]:hover {
    cursor: not-allowed; }

.b-input-group__label {
  display: inline-block;
  border: #dee2e4 solid 1px;
  background-color: #eceeef;
  font-weight: 400;
  float: left;
  width: 37px;
  text-align: center;
  padding: 6px 12px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer; }

.b-input-group__input-wrapp {
  padding-left: 37px; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.b-button,
a.b-button,
button.b-button {
  position: relative;
  display: inline-block;
  min-height: 41px;
  cursor: pointer;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none !important;
  font-size: 15px;
  color: #464b4f;
  font-weight: bold;
  background-color: white;
  border: 1px solid #dee2e4;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s; }
  .b-button:hover,
  a.b-button:hover,
  button.b-button:hover {
    background-color: #f2f2f2;
    text-decoration: none; }
  .b-button:active,
  a.b-button:active,
  button.b-button:active {
    background-color: #f2f2f2; }
  .b-button:focus,
  a.b-button:focus,
  button.b-button:focus {
    outline: none; }
  .b-button[disabled],
  a.b-button[disabled],
  button.b-button[disabled] {
    background-color: #eceeef !important;
    cursor: not-allowed;
    color: #c7cacd !important;
    border: 1px solid #dee2e4; }
  .b-button[disabled]:hover,
  a.b-button[disabled]:hover,
  button.b-button[disabled]:hover {
    cursor: not-allowed; }
  .b-button--primary,
  a.b-button--primary,
  button.b-button--primary {
    background-color: #70b93f;
    border-color: #70b93f;
    color: white; }
    .b-button--primary:hover,
    a.b-button--primary:hover,
    button.b-button--primary:hover {
      background-color: #64a639;
      text-decoration: none; }
    .b-button--primary:active,
    a.b-button--primary:active,
    button.b-button--primary:active {
      background-color: #64a639; }
  .b-button--secondary,
  a.b-button--secondary,
  button.b-button--secondary {
    background-color: #ffad43;
    border-color: #ffad43;
    color: white; }
    .b-button--secondary:hover,
    a.b-button--secondary:hover,
    button.b-button--secondary:hover {
      background-color: #ffa22a;
      text-decoration: none; }
    .b-button--secondary:active,
    a.b-button--secondary:active,
    button.b-button--secondary:active {
      background-color: #ffa22a; }
  .b-button--info,
  a.b-button--info,
  button.b-button--info {
    background-color: #3365b0;
    border-color: #3365b0;
    color: white; }
    .b-button--info:hover,
    a.b-button--info:hover,
    button.b-button--info:hover {
      background-color: #2d5a9c;
      text-decoration: none; }
    .b-button--info:active,
    a.b-button--info:active,
    button.b-button--info:active {
      background-color: #2d5a9c; }
  .b-button--default-light, .b-button--primary-light, .b-button--secondary-light, .b-button--info-light,
  a.b-button--default-light,
  a.b-button--primary-light,
  a.b-button--secondary-light,
  a.b-button--info-light,
  button.b-button--default-light,
  button.b-button--primary-light,
  button.b-button--secondary-light,
  button.b-button--info-light {
    border: 2px solid #dee2e4;
    border-radius: 5px;
    padding: 8px 40px;
    background-color: transparent; }
    .b-button--default-light[disabled], .b-button--primary-light[disabled], .b-button--secondary-light[disabled], .b-button--info-light[disabled],
    a.b-button--default-light[disabled],
    a.b-button--primary-light[disabled],
    a.b-button--secondary-light[disabled],
    a.b-button--info-light[disabled],
    button.b-button--default-light[disabled],
    button.b-button--primary-light[disabled],
    button.b-button--secondary-light[disabled],
    button.b-button--info-light[disabled] {
      border: 2px solid #dee2e4 !important;
      background-color: #eceeef !important; }
  .b-button--primary-light,
  a.b-button--primary-light,
  button.b-button--primary-light {
    border-color: #70b93f;
    color: #70b93f; }
    .b-button--primary-light:hover, .b-button--primary-light:active,
    a.b-button--primary-light:hover,
    a.b-button--primary-light:active,
    button.b-button--primary-light:hover,
    button.b-button--primary-light:active {
      background-color: #edf7e7;
      text-decoration: none !important;
      color: #70b93f; }
    .b-button--primary-light:visited,
    a.b-button--primary-light:visited,
    button.b-button--primary-light:visited {
      color: #70b93f; }
  .b-button--secondary-light,
  a.b-button--secondary-light,
  button.b-button--secondary-light {
    border-color: #ffad43;
    color: #ffad43; }
    .b-button--secondary-light:hover, .b-button--secondary-light:active,
    a.b-button--secondary-light:hover,
    a.b-button--secondary-light:active,
    button.b-button--secondary-light:hover,
    button.b-button--secondary-light:active {
      background-color: #fff0dc;
      text-decoration: none !important;
      color: #ffad43; }
    .b-button--secondary-light:visited,
    a.b-button--secondary-light:visited,
    button.b-button--secondary-light:visited {
      color: #ffad43; }
  .b-button--info-light,
  a.b-button--info-light,
  button.b-button--info-light {
    border-color: #3365b0;
    color: #3365b0; }
    .b-button--info-light:hover, .b-button--info-light:active,
    a.b-button--info-light:hover,
    a.b-button--info-light:active,
    button.b-button--info-light:hover,
    button.b-button--info-light:active {
      background-color: #d6e1f3;
      text-decoration: none !important;
      color: #3365b0; }
    .b-button--info-light:visited,
    a.b-button--info-light:visited,
    button.b-button--info-light:visited {
      color: #3365b0; }
  .b-button--load,
  a.b-button--load,
  button.b-button--load {
    padding: 10px 41px 10px 19px; }
    .b-button--load:after,
    a.b-button--load:after,
    button.b-button--load:after {
      content: '';
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      width: 18px;
      height: 18px;
      margin: auto;
      border-left: 2px solid rgba(215, 215, 215, 0.8);
      border-top: 2px solid rgba(215, 215, 215, 0.9);
      border-right: 2px solid #d7d7d7;
      opacity: 1;
      border-bottom: 3px solid transparent;
      animation: rotate .7s infinite linear;
      -webkit-transition: all linear 0.2s;
      -moz-transition: all linear 0.2s;
      -o-transition: all linear 0.2s;
      transition: all linear 0.2s;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px; }
    .b-button--load.b-button--primary:after, .b-button--load.b-button--secondary:after, .b-button--load.b-button--info:after,
    a.b-button--load.b-button--primary:after,
    a.b-button--load.b-button--secondary:after,
    a.b-button--load.b-button--info:after,
    button.b-button--load.b-button--primary:after,
    button.b-button--load.b-button--secondary:after,
    button.b-button--load.b-button--info:after {
      border-left: 2px solid rgba(255, 255, 255, 0.8);
      border-top: 2px solid rgba(255, 255, 255, 0.9);
      border-right: 2px solid white; }
    .b-button--load.b-button--default-light, .b-button--load.b-button--primary-light, .b-button--load.b-button--secondary-light, .b-button--load.b-button--info-light,
    a.b-button--load.b-button--default-light,
    a.b-button--load.b-button--primary-light,
    a.b-button--load.b-button--secondary-light,
    a.b-button--load.b-button--info-light,
    button.b-button--load.b-button--default-light,
    button.b-button--load.b-button--primary-light,
    button.b-button--load.b-button--secondary-light,
    button.b-button--load.b-button--info-light {
      padding: 10px 50px 10px 30px; }
      .b-button--load.b-button--default-light:after, .b-button--load.b-button--primary-light:after, .b-button--load.b-button--secondary-light:after, .b-button--load.b-button--info-light:after,
      a.b-button--load.b-button--default-light:after,
      a.b-button--load.b-button--primary-light:after,
      a.b-button--load.b-button--secondary-light:after,
      a.b-button--load.b-button--info-light:after,
      button.b-button--load.b-button--default-light:after,
      button.b-button--load.b-button--primary-light:after,
      button.b-button--load.b-button--secondary-light:after,
      button.b-button--load.b-button--info-light:after {
        right: 25px; }
    .b-button--load.b-button--primary-light:after,
    a.b-button--load.b-button--primary-light:after,
    button.b-button--load.b-button--primary-light:after {
      border-left: 2px solid rgba(112, 185, 63, 0.8);
      border-top: 2px solid rgba(112, 185, 63, 0.9);
      border-right: 2px solid #70b93f; }
    .b-button--load.b-button--secondary-light:after,
    a.b-button--load.b-button--secondary-light:after,
    button.b-button--load.b-button--secondary-light:after {
      border-left: 2px solid rgba(255, 173, 67, 0.8);
      border-top: 2px solid rgba(255, 173, 67, 0.9);
      border-right: 2px solid #ffad43; }
    .b-button--load.b-button--info-light:after,
    a.b-button--load.b-button--info-light:after,
    button.b-button--load.b-button--info-light:after {
      border-left: 2px solid rgba(51, 101, 176, 0.8);
      border-top: 2px solid rgba(51, 101, 176, 0.9);
      border-right: 2px solid #3365b0; }
    .b-button--load.b-button--size-full,
    a.b-button--load.b-button--size-full,
    button.b-button--load.b-button--size-full {
      padding: 10px 40px 10px 40px; }
      .b-button--load.b-button--size-full:after,
      a.b-button--load.b-button--size-full:after,
      button.b-button--load.b-button--size-full:after {
        right: 15px; }
    .b-button--load.b-button--size-small,
    a.b-button--load.b-button--size-small,
    button.b-button--load.b-button--size-small {
      padding: 5px 10px; }
      .b-button--load.b-button--size-small:after,
      a.b-button--load.b-button--size-small:after,
      button.b-button--load.b-button--size-small:after {
        display: none; }
  .b-button--border-radius,
  a.b-button--border-radius,
  button.b-button--border-radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .b-button--shadow,
  a.b-button--shadow,
  button.b-button--shadow {
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.15); }
    .b-button--shadow:hover,
    a.b-button--shadow:hover,
    button.b-button--shadow:hover {
      box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0); }
    .b-button--shadow[disabled],
    a.b-button--shadow[disabled],
    button.b-button--shadow[disabled] {
      box-shadow: none !important; }
  .b-button--size-small,
  a.b-button--size-small,
  button.b-button--size-small {
    font-size: 12px;
    min-height: 20px;
    padding: 5px 10px; }
  .b-button--size-full,
  a.b-button--size-full,
  button.b-button--size-full {
    width: 100%; }

.b-content-area {
  width: 100%;
  background: white;
  overflow: hidden;
  font-size: 14px; }
  .b-content-area--shadow {
    box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.08); }
  .b-content-area--border-radius {
    border-radius: 5px; }

.b-content-area__header {
  padding: 25px 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background: #f3f9fe;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }
  .b-content-area__header + .b-content-area__body {
    padding: 30px 15px; }

.b-content-area__body {
  padding: 10px 15px; }
  .b-content-area__body--without-padding {
    padding: 0; }

.b-marked-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.b-marked-list__item {
  margin-bottom: 2px; }
  .b-marked-list__item:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #70b93f;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px; }

.h-inline-block {
  display: inline-block; }

.h-pr-5 {
  padding-right: 5px; }

.h-green-row td {
  color: #70b93f; }
