/* --- scroll-nav --- */
.scroll-nav
    position: fixed
    z-index: 1
    width: 160px
    float: left
    margin: 30px 0

    &__list
        list-style: none
        padding: 0

    &__item
        a
            display: block
            padding: 3px 5px
            color: lighten($text-color, 20%)
            text-decoration: none

        &.active a
            background-color: #F5F5F5
            color: $text-color

        &:hover a
            background-color: #F5F5F5
            color: $text-color


    &.fixed
        position: fixed

    @media(max-width: 768px)
        display: none

/* --- /scroll-nav --- */
body
    min-width: 650px
    padding: 0

.main
    position: relative
    padding: 0 20px 0 185px
    @media(max-width: 768px)
        padding: 0

    &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 160px
        width: 1px
        background: #eee
        @media(max-width: 768px)
            width: 0

.b-example
    border: 1px solid #eee
    border-radius: 4px
    margin-bottom: 3.357142857142858em;

    header
        padding: 20px 20px 10px 20px
        border-bottom: 1px solid #eee

    footer
        code[class*="language-"],
        pre[class*="language-"]
            margin: 0
            border-radius: 0px

    &__prev-shelf
        width: 100%

        td
            text-align: center
            padding: 5px

.logical-block
    position: relative
    margin-bottom: 60px

    &__title
        position: relative
        box-sizing: border-box
        padding: 10px 0
        margin-top: 0
        margin-bottom: 15px

        h2
            margin: 10px 0

        &:after
            content: ""
            display: block
            height: 1px
            background-color: #eee
            position: absolute
            left: -24px
            right: 0
            bottom: 0



.table
    width: 100%
    margin-bottom: 2.57142857142858em

    tr
        td,
        th
            padding: 12px
            border: 1px solid $gray-color

    thead
        th
            font-weight: bold
            vertical-align: bottom
            text-align: left

    tbody
        td
            vertical-align: top

        tr:nth-child(odd)
            background-color: rgba(0,0,0,.05)

    &--first-col-title
        tbody
            tr td:nth-child(1)
                font-weight: bold

.footnote
    font-size: 14px
    color: #c2c5c7
    font-style: italic
    font-weight: normal !important

.h-pt-20
    padding-top: 20px

.h-text-right
    text-align: right

.h-text-center
    text-align: center

.h-mb-10
    margin-bottom: 10px

.h-vflex
	display: flex
	align-content: flex-start
	overflow: hidden
	flex-direction: column

.h-hflex
	display: flex
	align-content: flex-start
	overflow: hidden
	flex-direction: row

.h-flex
	flex: 1

.h-flex-wrap
	flex-wrap: wrap

.h-flex-1-0-100
	flex: 1 0 100%

.h-flex-0-0-25
	flex: 0 0 25%

.h-flex-0-0-33
	flex: 0 0 33.3%

.h-flex-1-1-100
	flex: 1 1 100%

.h-flex-1-0-auto
	flex: 1 0 auto

.h-flex-main-center
	justify-content: center

.h-flex-space-between
	justify-content: space-between

.h-flex-cross-center
	align-items: center
