<h3>Типы</h3>
<div class="b-example">
    <header>
        <table class="b-example__prev-shelf">
            <tr>
                <td>
                    <button class="b-button" >Кнопка</button>
                </td>
                <td>
                    <button class="b-button b-button--primary">Кнопка</button>
                </td>
                <td>
                    <button class="b-button b-button--secondary">Кнопка</button>
                </td>
                <td>
                    <button class="b-button b-button--info">Кнопка</button>
                </td>
                <td>
                    <button class="b-button b-button--info" disabled>Кнопка</button>
                </td>
            </tr>
                <tr>
                    <td>
                        <button class="b-button b-button--default-light">Кнопка</button>
                    </td>
                    <td>
                        <button class="b-button b-button--primary-light">Кнопка</button>
                    </td>
                    <td>
                        <button class="b-button b-button--secondary-light">Кнопка</button>
                    </td>
                    <td>
                        <button class="b-button b-button--info-light">Кнопка</button>
                    </td>
                    <td>
                        <button class="b-button b-button--info-light" disabled>Кнопка</button>
                    </td>
                </tr>
        </table>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;button class="b-button"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--primary"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--secondary"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--info"&gt;Кнопка&lt;/button&gt;
  &lt;!-- неактивное состояние --&gt;
  &lt;button class="b-button b-button--info" disabled&gt;    Кнопка&lt;/button&gt;

  &lt;button class="b-button b-button--default-light"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--primary-light"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--secondary-light"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--info-light"&gt;Кнопка&lt;/button&gt;
  &lt;!-- неактивное состояние --&gt;
  &lt;button class="b-button b-button--info-light" disabled&gt;  Кнопка&lt;/button&gt;</code></pre>
</footer>
</div>
<h3>Размеры</h3>
<div class="b-example">
    <header>
        <table class="b-example__prev-shelf">
            <tr>
                <td>
                    <button class="b-button b-button--primary-light b-button--size-full">Кнопка</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="b-button b-button--primary-light">Кнопка</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="b-button b-button--primary-light b-button--primary b-button--size-small">Кнопка</button>
                </td>
            </tr>
        </table>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;!-- ширина зависит от родителя --&gt;
  &lt;button class="b-button b-button--primary-light b-button--size-full"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--primary-light"&gt;Кнопка&lt;/button&gt;
  &lt;button class="b-button b-button--primary-light b-button--size-small"&gt;Кнопка&lt;/button&gt;</code></pre>
</footer>
</div>
<h3>Модификаторы</h3>
<div class="b-example">
    <header>
        <table class="b-example__prev-shelf">
            <tr>
                <td>
                    <button class="b-button b-button--primary b-button--shadow">Кнопка</button>
                </td>
                <td>
                    <button class="b-button b-button--primary b-button--border-radius">Кнопка</button>
                </td>
                <td>
                    <button class="b-button b-button--primary b-button--load" id="test-load-button">Кнопка</button>
                </td>
            </tr>
        </table>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;!-- добавить тень --&gt;
  &lt;button class="b-button b-button--primary b-button--shadow"&gt;Кнопка&lt;/button&gt;
  &lt;!-- добавить скругления --&gt;
  &lt;button class="b-button b-button--primary b-button--border-radius"&gt;Кнопка&lt;/button&gt;
  &lt;!-- отобразить процес загрузки --&gt;
  &lt;button class="b-button b-button--primary b-button--load"&gt;Кнопка&lt;/button&gt;</code></pre>
</footer>
</div>
