<p>Поддержка компонентов мобильными браузерами <span class="footnote">>76%</span></p>
<table class="table">
    <thead>
        <tr>
            <th>Opera mini <span class="footnote">51,8%</span></th>
            <th>Chrome <span class="footnote">27,6%</span></th>
            <th>Android browser <span class="footnote">5,3%</span></th>
            <th>Safari <span class="footnote">4,8%</span></th>
            <th>BlackBerry <span class="footnote">4,4%</span></th>
            <th>UC brouser <span class="footnote">2,6%</span></th>
        </tr>
    </thead>
    <tbody>
        <tr class="h-green-row">
            <td>4+</td>
            <td>30+</td>
            <td>4+</td>
            <td>9+</td>
            <td>10+</td>
            <td>10+</td>
        </tr>
    </tbody>
</table>

<p>Поддержка компонентов десктопными браузерами и планшетами <span class="footnote">7,55%</span></p>
<table class="table">
    <thead>
        <tr>
            <th>Chrome <span class="footnote">41,5%</span></th>
            <th>Firefox <span class="footnote">34,5%</span></th>
            <th>IE <span class="footnote">7,3%</span></th>
            <th>UC browser <span class="footnote">7,2%</span></th>
            <th>Opera <span class="footnote">5,8%</span></th>
        </tr>
    </thead>
    <tbody>
        <tr class="h-green-row">
            <td>49+</td>
            <td>43+</td>
            <td>11+</td>
            <td>10+</td>
            <td>39+</td>
        </tr>
    </tbody>
</table>