
<div class="b-example">
    <header>
        <div class="b-content-area b-content-area--shadow b-content-area--border-radius">
            <div class="b-content-area__header">
                Some title
            </div>
            <div class="b-content-area__body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi id harum, suscipit ex, nam delectus nemo tenetur, sed quidem sit soluta rerum quam natus ipsam temporibus adipisci ea impedit. Nisi nesciunt facere perferendis natus velit rem iste maxime, quidem, cupiditate tenetur necessitatibus consequuntur optio eaque, quo aliquid ex. Rerum amet reprehenderit eius ut placeat blanditiis porro assumenda ex iste fuga error maiores et praesentium, fugit est sunt, distinctio at omnis ea? Sed unde id numquam voluptatum qui mollitia nobis earum! Enim, saepe optio obcaecati esse. Amet eaque vero quisquam enim dolores beatae obcaecati, labore, id dignissimos atque, minus minima.
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
  <code class="language-markup">&lt;div class="b-content-area b-content-area--shadow b-content-area--border-radius"&gt;
      &lt;div class="b-content-area__header"&gt;
          Some title
      &lt;/div&gt;
      &lt;div class="b-content-area__body"&gt;
          Block content
      &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
