<p>По умолчанию размер элемента зависят от контекста в котором используется, для получения требуемой ширины ее нужно задать обертке.</p>
<div class="b-example">
    <header>
        <div class="b-form-section">
            <label class="b-form-section__title" for="input-01">Input`s title</label>
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" id="input-01">
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;div class="b-form-section"&gt;
    &lt;label class="b-form-section__title" for="input-01"&gt;Input`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" id="input-01"&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<p>Любой элемент(ы) формы должен(ы) быть заключен в тег с классом <code class="language-sass">.b-form-section</code>. Отображение дочерних элементов будет зависить от его модификации.</p>
<div class="b-example">
    <header>
        <div class="b-form-section b-form-section--required">
            <label class="b-form-section__title" for="input-02">Input`s title</label>
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" id="input-02">
            </div>
        </div>
        <div class="b-form-section b-form-section--success">
            <label class="b-form-section__title" for="input-03">Input`s title</label>
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" id="input-03">
            </div>
        </div>
        <div class="b-form-section b-form-section--error">
            <label class="b-form-section__title" for="input-04">Input`s title</label>
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" id="input-04">
            </div>
            <div class="b-form-section__error-descr">
                This field is required
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
  <code class="language-markup">&lt;!-- элемент обязателен для заполнения --&gt
  &lt;div class="b-form-section b-form-section--required"&gt;
    &lt;label class="b-form-section__title"  for="input-02"&gt;Input`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" id="input-02"&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- успешная валидация --&gt
  &lt;div class="b-form-section b-form-section--success"&gt;
    &lt;label class="b-form-section__title" for="input-03"&gt;Input`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" id="input-03"&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- ошибка при валидации поля --&gt
  &lt;div class="b-form-section b-form-section--error"&gt;
    &lt;label class="b-form-section__title" for="input-04"&gt;Input`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" id="input-04"&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__error-descr"&gt;
        This field is required
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<h3>Разметка элементов форм</h3>
<div class="b-example">
    <header>
        <div class="b-form-section">
            <label class="b-form-section__title" for="input-05">Input`s title</label>
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" id="input-05">
            </div>
        </div>
        <div class="b-form-section">
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" disabled>
            </div>
        </div>
        <div class="b-form-section">
            <div class="b-form-section__elem-wrapp">
                <input type="text" placeholder="Some placeholder" readonly="readonly" value="Only read">
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
  <code class="language-markup">&lt;div class="b-form-section"&gt;
    &lt;label class="b-form-section__title" for="input-05"&gt;Input`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" id="input-05"&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- неактивное поле --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" disabled&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- только для чтения --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;input type="text" placeholder="Some placeholder" readonly="readonly" value="Only read"&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<div class="b-example">
    <header>
        <div class="b-form-section">
            <label class="b-form-section__title" for="textarea-01">Textarea`s title</label>
            <div class="b-form-section__elem-wrapp">
                <textarea rows="5" placeholder="Some placeholder" id="textarea-01"></textarea>
            </div>
        </div>
        <div class="b-form-section">
            <div class="b-form-section__elem-wrapp">
                <textarea rows="5" placeholder="Some placeholder" disabled></textarea>
            </div>
        </div>
        <div class="b-form-section">
            <div class="b-form-section__elem-wrapp">
                <textarea rows="5" placeholder="Some placeholder" readonly="readonly">Only read</textarea>
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
  <code class="language-markup">&lt;div class="b-form-section"&gt;
    &lt;label class="b-form-section__title" for="textarea-01"&gt;Textarea`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;textarea rows="5" placeholder="Some placeholder" id="textarea-01"&gt;&lt;textarea&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- неактивное поле --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;textarea rows="5" placeholder="Some placeholder" disabled&gt;&lt;textarea&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- только для чтения --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;textarea rows="5" placeholder="Some placeholder" readonly="readonly"&gt;Only read&lt;textarea&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<div class="b-example">
    <header>
        <div class="b-form-section" >
            <label class="b-form-section__title" for="select-01">Select`s title</label>
            <div class="b-form-section__elem-wrapp">
                <select id="select-01" >
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>
            </div>
        </div>
        <div class="b-form-section" >
            <div class="b-form-section__elem-wrapp">
                <select disabled>
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                    <option>Option 4</option>
                    <option>Option 5</option>
                </select>
            </div>
        </div>
        <div class="b-form-section" >
            <div class="b-form-section__elem-wrapp">
                <select readonly="readonly">
                    <option disabled>Option 1</option>
                    <option readonly>Only read</option>
                    <option disabled>Option 3</option>
                    <option disabled>Option 4</option>
                    <option disabled>Option 5</option>
                </select>
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;div class="b-form-section" &gt;
    &lt;label class="b-form-section__title" for="select-01"&gt;Select`s title&lt;/label&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;select id="select-0s1"&gt;
        &lt;option&gt;Option 1&lt;/option&gt;
        &lt;option&gt;Option 2&lt;/option&gt;
        &lt;option&gt;Option 3&lt;/option&gt;
        &lt;option&gt;Option 4&lt;/option&gt;
        &lt;option&gt;Option 5&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- неактивное поле --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;select disabled&gt;
        &lt;option&gt;Option 1&lt;/option&gt;
        &lt;option&gt;Option 2&lt;/option&gt;
        &lt;option&gt;Option 3&lt;/option&gt;
        &lt;option&gt;Option 4&lt;/option&gt;
        &lt;option&gt;Option 5&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- только для чтения --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;div class="b-form-section__elem-wrapp"&gt;
      &lt;select &gt;
        &lt;option disabled&gt;Option 1&lt;/option&gt;
        &lt;option readonly="readonly"&gt;Only read&lt;/option&gt;
        &lt;option disabled&gt;Option 3&lt;/option&gt;
        &lt;option disabled&gt;Option 4&lt;/option&gt;
        &lt;option disabled&gt;Option 5&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<p>При необходимости отображать значок валидности элемента около его названия, добавляем модификатор <code class="language-sass">.b-form-section__title--valid-block</code></p>
<div class="b-example">
    <header>
        <div class="b-form-section b-form-section--success">
            <label class="b-form-section__title b-form-section__title--valid-block">Check`s title</label>
            <div class="b-form-section__row">
                <input class="b-form-section__checkbox" type="checkbox" id="checkbox-01" />
                <label for="checkbox-01">Red</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__checkbox" type="checkbox" id="checkbox-02" checked="checked" />
                <label for="checkbox-02">Yellow</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__checkbox" type="checkbox" id="checkbox-03" checked="checked" disabled="disabled" />
                <label for="checkbox-03">Green</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__checkbox" type="checkbox" id="checkbox-04" disabled="disabled" />
                <label for="checkbox-04">Brown</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__checkbox" type="checkbox" id="checkbox-05" checked="checked" readonly="readonly" />
                <label for="checkbox-05" onclick="return false">Only read</label>
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;div class="b-form-section b-form-section--success"&gt;
    &lt;label class="b-form-section__title b-form-section__title--valid-block">Check`s title&lt;/label&gt;
    &lt;div class="b-form-section__row"&gt;
      &lt;input class="b-form-section__checkbox" type="checkbox" id="checkbox-01" /&gt;
      &lt;label for="checkbox-01"&gt;Red&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
      &lt;input class="b-form-section__checkbox" type="checkbox" id="checkbox-02" checked="checked"/&gt;
      &lt;label for="checkbox-02"&gt;Yellow&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
      &lt;input class="b-form-section__checkbox" type="checkbox" id="checkbox-03" checked="checked" disabled="disabled"/&gt;
      &lt;label for="checkbox-03"&gt;Green&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
      &lt;input class="b-form-section__checkbox" type="checkbox" id="checkbox-04" disabled="disabled"/&gt;
      &lt;label for="checkbox-04"&gt;Brown&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
      &lt;input class="b-form-section__checkbox" type="checkbox" id="checkbox-05" checked="checked" readonly="readonly"/&gt;
      &lt;label for="checkbox-05" onclick="return false"&gt;Only read&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<div class="b-example">
    <header>
        <div class="b-form-section" >
            <label class="b-form-section__title b-form-section__title--valid-block">Radio`s title</label>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group" id="radio-01"/>
                <label for="radio-01">Red</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group" id="radio-02" checked="checked"/>
                <label for="radio-02">Yellow</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group" id="radio-03">
                <label for="radio-03">Green</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group" id="radio-04" disabled="disabled"/>
                <label for="radio-04">Brown</label>
            </div>
        </div>
        <div class="b-form-section" >
            <label class="b-form-section__title b-form-section__title--valid-block">Radio`s title</label>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-201" disabled="disabled"/>
                <label for="radio-201" >Red</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-202" checked="checked" readonly="readonly"/>
                <label for="radio-202">Yellow</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-203" disabled="disabled">
                <label for="radio-203">Green</label>
            </div>
            <div class="b-form-section__row">
                <input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-204" disabled="disabled"/>
                <label for="radio-204">Brown</label>
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;div class="b-form-section"&gt;
    &lt;label class="b-form-section__title b-form-section__title--valid-block"&gt;Radio`s title&lt;/label&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group" id="radio-01"/&gt;
       &lt;label for="radio-01">Red&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group" id="radio-02" checked="checked"/&gt;
       &lt;label for="radio-02">Yellow&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group" id="radio-03"&gt;
       &lt;label for="radio-03">Green&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group" id="radio-04" disabled="disabled"/&gt;
       &lt;label for="radio-04">Brown&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;!-- группа радиокнопок предназначеных только для чтения --&gt;
  &lt;div class="b-form-section"&gt;
    &lt;label class="b-form-section__title b-form-section__title--valid-block"&gt;Radio`s title&lt;/label&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-201" disabled="disabled"/&gt;
       &lt;label for="radio-201">Red&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-202" checked="checked" readonly="readonly"/&gt;
       &lt;label for="radio-202">Yellow&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-203" disabled="disabled"&gt;
       &lt;label for="radio-203">Green&lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="b-form-section__row"&gt;
       &lt;input class="b-form-section__radio" type="radio" name="radio-group-2" id="radio-204" disabled="disabled"/&gt;
       &lt;label for="radio-204">Brown&lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
    </footer>
</div>
<div class="b-example">
    <header>
        <div class="b-form-section" >
            <label class="b-form-section__title b-form-section__title--valid-block">Title</label>
            <div>
                <div class="b-input-group">
                    <label class="b-input-group__label" for="input-7">₦</label>
                    <div class="b-input-group__input-wrapp">
                        <input class="b-input-group__input" id="input-7" type="text" type="text" placeholder="Enter price">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;div class="b-form-section"&gt;
    &lt;label class="b-form-section__title b-form-section__title--valid-block"&gt;Title&lt;/label&gt;
    &lt;div&gt;
      &lt;div class="b-input-group"&gt;
        &lt;label class="b-input-group__label" for="input-7"&gt;₦&lt;/label&gt;
        &lt;div class="b-input-group__input-wrapp"&gt;
          &lt;input class="b-input-group__input" id="input-7" type="text" type="text" placeholder="Enter price"&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;</code>
</pre>
                </footer>
              </div>
