<div class="b-example">
    <header>
        <div>
          <ul class="b-marked-list">
              <li class="b-marked-list__item">First item</li>
              <li class="b-marked-list__item">Second item</li>
              <li class="b-marked-list__item">Third item</li>
              <li class="b-marked-list__item">Fourth item</li>
          </ul>
        </div>
    </header>
    <footer>
<pre class="language-markup">
<code class="language-markup">  &lt;ul class="b-marked-list"&gt;
    &lt;li class="b-marked-list__item"&gt;First item&lt;/li&gt;
    &lt;li class="b-marked-list__item"&gt;Second item&lt;/li&gt;
    &lt;li class="b-marked-list__item"&gt;Third item&lt;/li&gt;
    &lt;li class="b-marked-list__item"&gt;Fourth item&lt;/li&gt;
  &lt;/ul&gt;</code>
</pre>
    </footer>
</div>
