
<table class="table">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Префикс</th>
            <th>Описание</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Компонент <span class="footnote">(Block)</span></td>
            <td class="h-text-center">b-</td>
            <td>Формируют основу приложения и содержат всю косметику для отдельных блоков</td>
        </tr>
        <tr>
            <td>Модуль макета <span class="footnote">(Layout module)</span></td>
            <td class="h-text-center">l-</td>
            <td>У этих модулей нет никакой косметики, используются только для позиционирования блоков и для построения макета приложения.</td>
        </tr>
        <tr>
            <td>Помощники <span class="footnote">(Helpers)</span></td>
            <td class="h-text-center">h-</td>
            <td>Вспомогательные классы</td>
        </tr>
        <tr>
            <td>Скрипты <span class="footnote">(JavaScript)</span></td>
            <td class="h-text-center">js-</td>
            <td>Они указывают на то, что поведение JavaScript привязано к блоку. Стили с ними не ассоциируются; используются только для облегчения манипуляций со скриптами. Не имеют стилей</td>
        </tr>
        <tr>
            <td>Тестирование <span class="footnote">(quality-assurance)</span></td>
            <td class="h-text-center">qa-</td>
            <td>Используются для проведения тетов.Не имеют стилей</td>
        </tr>
    </tbody>
</table>
